.header-box {
    background-color: red;
    display: block;        
    width: 100%;          
    height: 100%;         
    text-align: center;   
    padding: 0.2rem 0.5rem;
}

.header-box:hover {
  background-color: blue;
}

            
